<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Password</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="../../bower_components/material-design-lite/material.min.css" rel="stylesheet" />
    <link href="../../common/app.css" rel="stylesheet" />

    <script src="../../bower_components/material-design-lite/material.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>

</head>
<body>

    <section class="container">
        <header>
            <h1>Add Password</h1>
        </header>

        <div class="insert" ng-controller="InsertCtrl as vm">
            <form name="insertForm" no-validate>
                <fieldset ng-disabled="!vm.loaded">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="description" ng-model="vm.formData.description" required />
                        <label class="mdl-textfield__label" for="description">Description...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="username" ng-model="vm.formData.username" />
                        <label class="mdl-textfield__label" for="username">Username...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="password" ng-model="vm.formData.password" required />
                        <label class="mdl-textfield__label" for="password">Password...</label>
                    </div>
                    <div class="">
                        <button generate-password class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">generate</button>
                        <button toggle-insert-view class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">cancel</button>
                        <button save-password class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="insertForm.$invalid">save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

    <script src="../../common/utils.js"></script>
    <script src="./insert.view.js"></script>
    <script>
        angular
            .element(document)
            .ready(function() {
                angular.bootstrap(document.body, ['InsertView']);
            });
    </script>
</body>
</html>
